/* 공통사항 */
/* 모든요소의 여백제거 */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* li장식제거 */
li {
    list-style: none;
}

/* a밑줄제거,글자색 */
a {
    text-decoration: none;
    color: inherit;
}

/* img,video요소를 이미지가 부모의 크기에 맞춰 유지, 세로 방향 가운데에 맞추는 CSS 속성*/
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* em,i,address 기울이지 않은 기본 스타일로 설정 */
em,
i,
address {
    font-style: normal;
}

/* 버튼 기본 스타일 초기화 */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* 부모 요소의 스타일을 자연스럽게 따라가도록 만드는 초기화 */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* placeholder(입력 전 안내 문구)의 글꼴과 색상을 주변 요소와 동일하게 맞추는 코드 */
::placeholder {
    font: inherit;
    color: inherit;
}

/* 속성 */
body {
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.1); */
    margin: 0;
    line-height: 1.5;
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    color: var(--Typo-Primary);
}

:root {
    --Primary-color: #243b66;
    --Secondary-color: #3F0B9F;
    --Typo-Primary: #222222;
    --Typo-Secondary: #666666;
}