/* :root {
    --Primary-color: #243b66;
    --Secondary-color: #3F0B9F;
    --Typo-Primary: #222222;
    --Typo-Secondary: #666666;
} */

.section .inner {
    max-width: 1400px;
    margin: 0 auto;
}

.section {
    padding: 180px 0;
}

.section-heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 43px;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: 600;
}

.exhibition-section {}

.exhibition-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exhibition-card {
    display: flex;
}

.featured-exhibition {
    background: #FFF;
    box-shadow: 0 9px 19.6px 0 rgba(0, 0, 0, 0.25);
}

.featured-exhibition .poster {
    aspect-ratio: 3 / 4.2;
}

.poster img {
    width: 100%;
}

.exhibition-info {
    display: flex;
    padding: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.exhibition-info .badge1 {
    padding: 4.5px 10.5px;
    align-items: center;
    background: var(--Primary-color);
    color: #fff;
}

.exhibition-info .badge2 {
    border: 0.5px solid var(--Typo-Primary);
    background: #fff;
    padding: 4px 10px;
    align-items: center;
    color: var(--Typo-Primary);
}

.exhibition-info h3 {
    width: 265px;
    color: var(--Typo-Primary);
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.68px;
    padding-top: 5px;
}

.exhibition-info .m-time {
    color: var(--Typo-Secondary);
    font-weight: 400;
    line-height: 140%;
}

.exhibition-info p {
    display: -webkit-box;
    width: 245px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    color: var(--Typo-Primary);
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 10px;
}

.exhibition-info .text-more {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--Typo-Secondary);

}

.exhibition-list-wrap {}

.exhibition-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 56px;
    align-items: start;
    padding: 0;
    margin: 0;
}

.card-info {
    padding-top: 20px;
}

.card-info .badge1 {
    padding: 3.5px 9.5px;
    align-items: center;
    background: var(--Primary-color);
    color: #fff;
    font-size: 13px;
}

.card-info .badge2 {
    border: 0.5px solid var(--Typo-Primary);
    background: #fff;
    padding: 3px 9px;
    align-items: center;
    color: var(--Typo-Primary);
    font-size: 13px;
}

.card-info .badge3 {
    padding: 3.5px 9.5px;
    align-items: center;
    background: var(--Secondary-color);
    color: #fff;
    font-size: 13px;
}

.card-info h3 {
    padding-top: 10px;
    margin-bottom: -2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.exhibition-list .s-time {
    color: var(--Typo-Secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.slider-control {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
}

.page-number {
    color: var(--Typo-Primary)
}

.progress-track {
    position: relative;
    flex: 1;
    height: 2px;
    background: #ddd;
}

.progress-value {
    display: block;
    width: 30%;
    height: 100%;
    background: var(--Typo-Primary);
}