/* footer */


:root {
    /* color */
    --Primary-color: #243B66;
    --Secondary-color: #3f0b9f;
    --Typo-Primary: #222222;
    --Typo-Secondary: #666666;

    --inner-width: 1400px;

}

body{
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
}


footer .inner {
    /* display: flex; */
    max-width: var(--inner-width);
    margin: 0 auto;
}

footer{
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.top-footer{
    padding:48px;
}

.top-footer .footer-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.top-footer .ctn-list-wrap .ctn-list{
    display: flex;
    gap: 40px;
    
}

.top-footer .ctn-list-wrap .ctn-list > li {
    width: 227px;
    height: 26px;
    color: var(--Typo-Secondary);
    border-bottom: 1px solid var(--Typo-Secondary);
    position: relative;
}


.top-footer .ctn-list-wrap .ctn-list > li > a::after {
    content: url(/images/icon/arrow-down-b.svg);
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}


.top-footer .ctn-list-wrap .ctn-list > li:hover {
    color: var(--Typo-Primary);
    border-bottom: 1px solid var(--Typo-Primary);
    font-weight: 500;
}

.top-footer .ctn-list-wrap .ctn-list > li:hover a::after{
    display: block;
}

.top-footer .ctn-list-wrap .ctn-list > li:hover .more-ctn {
    display: block;
}   

.top-footer .ctn-list-wrap .more-ctn {
    display: none;
    /* display: block; */
    position: absolute;
    top: 26px;
    width: 227px;
    z-index: 100000;
}

.top-footer .ctn-list-wrap .more-ctn > li {
    border: 1px solid #000;
    padding: 0.3em 0 0.3em 8px;
    font-size: 15px;
    color: var(--Typo-Primary);
    background: #fff;
}


.bottom-footer {
    background-color: var(--Primary-color);
    position: relative;

}

.bottom-footer .inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 88px 0;
}

.bottom-footer h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.bottom-footer .footer-left > .link-list-wrap {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 8px;
}

.bottom-footer .footer-left .link-list {
    display: flex;
    gap: 25px;
    align-items: center;
}

.bottom-footer .footer-left .link-list > li > a {
    border-right: 2px solid #fff;
    padding-right: 20px;
    font-weight: 300;
    font-size: 15px;
}

.bottom-footer .footer-left .link-list > li:last-child > a {
    border-right: none
}

.bottom-footer .footer-left .link-list > li:hover > a {
    font-weight: 400;
    text-decoration: underline;
}

.bottom-footer .footer-left .address-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    font-weight: 200;
    font-size: 14px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-right .right-top {
    display: flex;
    gap: 48px;
}

.footer-right .sns-list {
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.5); */
    gap: 15px;
    align-items: center;
}

.footer-right .sns-list > li {
    width: 33px;
    height: 33px;
}

.footer-right .sns-list > li:last-child {
    transform: translateY(3px);
}


.footer-right .other-list-wrap .list-wrap > a{
    width: 148px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 2px 15px 2px 15px;
    display: flex;
    position: relative;
    align-items: center;
}

.footer-right .other-list-wrap .list-wrap > a > span {
    font-size: 0.94em;
    color: #fff;
}


.footer-right .other-list-wrap .list-wrap > a > span::after{
    content: url(/images/footer/icon/icon-down-whith.png);
    position: absolute;
    right: 15px;
}
.footer-right .other-list-wrap {
    position: relative;
}


.footer-right .other-list-wrap .other-list{
    /* display: block; */
    display: none;
    position: absolute;
    width: 148px;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    height: 8em;
}

.footer-right .other-list-wrap:hover .other-list{
    display: block;
}

.footer-right .other-list-wrap .list-wrap > a > span::after{
    content: url(/images/footer/icon/icon-down-whith.png);
    position: absolute;
    right: 15px;
}

.footer-right .other-list-wrap .other-list > li {
    background: var(--Typo-Primary);
    border-bottom: 1px solid #fff;
    color: #fff;
    padding:0.3em 0.5em;
}


.footer-right .mark-wrap {
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;
}






footer > .top-btn {
    position: fixed;
    bottom: 10%;
    right: 0;
}


