:root {
    /* size */
    --inner-width: 1400px;

    /* font */
    --font-main: 'Pretendard', sans-serif;
    --font-w-ExL: 200;
    --font-w-L: 300;
    --font-w-R: 400;
    --font-w-M: 500;
    --font-w-SB: 600;
    --font-w-B: 700;
    --font-w-ExB: 800;
    --font-w-BK: 900;

    /* color */
    --color-pri: #243B66;
    --color-sec: #3F0B9F;
    --color-typo-pri: #222222;
    --color-typo-sec: #666666;
}

/*  */
.inner {
    max-width: 1400px;
    margin: 0 auto;
    /* background-color: rgba(255,0,0,.2);*/
}

.banner {
    width: 100%;
    height: 720px;
    max-height: 70vh;
    background: url(../images/info/in-banner.png) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .banner::before {content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,.3);}  */
.banner>* {
    position: relative;
}

.banner-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-title {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2.688em; */
    text-align: center;
    /* text-shadow: 0 0 30px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5); */
}

.banner-title h2 {
    font-size: clamp(1.875rem, 3.71vw, 3.25rem);
    font-weight: var(--font-w-ExB);
    line-height: 1.25;
    margin-bottom: 24px;
    color: #ffffff;
    word-break: keep-all;
}

.banner-title p {
    max-width: 90%;
    font-size: clamp(1rem, 1.28vw, 1.125rem);
    font-weight: var(--font-w-L);
    line-height: 1.7;
    word-break: keep-all;
    color: #ddd
}

.breadcrumb {
    position: absolute;
    top: 120px;
}

.breadcrumb>li>img {}

.breadcrumb>ol {
    display: flex;
    align-items: center;

    font-size: 15px;
    color: #fff;
}

.breadcrumb>ol>li {
    display: flex;
    align-items: center;
}

.breadcrumb>ol>li:nth-child(2)::before,
.breadcrumb>ol>li:nth-child(3)::before,
.breadcrumb>ol>li:nth-child(4)::before {
    content: "";

    display: block;

    width: 24px;
    height: 24px;

    background: url("../images-sub/icon/arrow-right.svg") no-repeat center;
}

main {
    padding-top: 0;
}

/* 관람 정보 */
.content {
    margin: 40px 0;
    padding: 40px 0;
}

.content>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.content li {
    padding: 0;
}

.content h2 {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 3px solid #666666;
    font-size: 1.5em;
    font-weight: 600;
}

.content dl {
    margin: 15px 0 0;
    font-size: 100%;
    line-height: 1.1;
}

.content dl>div {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 15px;
    margin-top: 10px;
    align-items: start;
}

.content dt {
    margin: 0;
    flex-shrink: 0;
    font-weight: 600;
}

.content dd {
    margin: 0;
}

.content .content-label {
    margin: 13px 0 0;
    font-size: 100%;
    font-weight: 600;
    color: #111;
}

.content p {
    margin: 10px 0 0;
    font-size: 100%;
    color: #666666;
    line-height: 0.8;
}

.content div:last-child {
    margin-bottom: 25px;
}

/* 관람시 유의사항 */
.note {
    margin: 40px 0;
    padding: 40px 0;

}

.note>h2 {
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: 600;
}

.note>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.note li {
    position: relative;
    min-height: 240px;
    padding: 35px;
    background: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.note>ul>li:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.27);
    transform: translateY(-2px);
}

.note-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-title h3 {
    margin: 27px 0 15px;
    font-size: 20px;
    font-weight: 600;
}

.note-title img {
    width: 33px;
    height: 33px;
    display: block;
}

.note p {
    margin: 0;
    font-size: 0.95em;
}

/* 자주 찾는 서비스 */
.service {
    width: 100%;
    background: #f4f4f4;
    height: 300px;
    margin: 50px 0;
    padding: 50px 0
}

.service-inner {
    width: var(--inner-width);
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service h2 {
    margin: 0 0 25px;
    font-size: 1.5em;
    font-weight: 600;
}

.service ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.service-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    width: 200px;
}

.service-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.service-title h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.service p {
    font-size: 0.95em;
}


.service-title:hover {
    border-bottom-color: #666666;
}


/* 아이패드 */
@media screen and (min-width: 768px) and (max-width: 1279px) {

    /* 배너 */
    .banner {
        height: 550px;
        max-height: none;
    }

    .banner-title {
        max-width: 800px;
        padding: 0 40px;
    }

    .banner-title h2 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .banner-title p {
        max-width: 90%;
        font-size: 16px;
        line-height: 1.6;
    }

    /* 브레드크럼 */
    .breadcrumb {
        top: 70px;
    }

    .breadcrumb>ol {
        font-size: 14px;
    }

    .breadcrumb>ol>li:nth-child(2)::before,
    .breadcrumb>ol>li:nth-child(3)::before,
    .breadcrumb>ol>li:nth-child(4)::before {
        width: 20px;
        height: 20px;
    }

    .breadcrumb>ol>li:first-child img {
        width: 18px;
        height: 18px;
    }


    .inner {
        width: calc(100% - 80px);
        max-width: none;
    }

    main {
    }

    .content {
        margin:  0 0 35px 0;
        padding: 35px 0;
    }

    .content ul {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 40px;
    }

    .content h2 {
        font-size: 1.25em;
        font-weight: 600;
    }


    .content p {
        font-size: 14px;
        line-height: 1.3;
        margin: 5px 0 0 0;
    }

    .content dl {
        font-size: 16px;
    }

    .content dl>div {
        grid-template-columns: 90px 1fr;
        column-gap: 10px;
    }

    .content .content-label {
        margin-top: 14px;
        font-size: 16px;
    }


    .note {
        margin: 35px 0;
        padding: 35px 0;
    }

    .note h2 {
        margin-bottom: 20px;
        font-size: 1.25em;
        font-weight: 600;
    }

    .note ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .note li {
        min-height: 190px;
        padding: 22px;
        border-radius: 8px;
    }

    .note-title h3 {
        margin: 20px 0 12px;
        font-size: 18px;
    }

    .note-title img {
        width: 27px;
        height: 27px;
    }

    .note p {
        font-size: 16px;
        line-height: 1.5;
    }

    .service {
        height: auto;
        margin: 35px 0 0 0;
        padding: 35px 0;
    }

    .service-inner {
        width: calc(100% - 80px);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .service h2 {
        margin-bottom: 10px;
        padding-bottom: 2px;
        font-size: 1.25em;
        font-weight: 600;
    }

    .service ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
    }

    .service-title {
        gap: 8px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .service-icon {
        width: 23px;
        height: 23px;
    }

    .service-title h3 {
        font-size: 18px;
        white-space: nowrap;
    }

    .arrow-icon {
        width: 22px;
        height: 22px;
    }

    .service p {
        font-size: 16px;
    }
}

/* 모바일 */
@media screen and (max-width: 767px) {
    .inner {
        width: calc(100% - 40px);
    }

    /* 배너 */
    .banner {
        height: 420px;
        max-height: none;
    }

    .banner-title {
        width: 100%;
        padding: 0 30px;
    }

    .banner-title h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .banner-title p {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.6;
    }

    /* 브레드크럼 */
    .breadcrumb {
        top: 70px;
    }

    .breadcrumb>ol {
        font-size: 13px;
    }

    .breadcrumb>ol>li:nth-child(2)::before,
    .breadcrumb>ol>li:nth-child(3)::before,
    .breadcrumb>ol>li:nth-child(4)::before {
        width: 18px;
        height: 18px;
    }

    .breadcrumb>ol>li:first-child img {
        width: 16px;
        height: 16px;
    }


    main {
    }

    .content {
        margin: 0 0 30px 0;
        padding: 30px 0;
    }

    .content ul {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .content h2 {
        font-size: 18px;
        padding-bottom: 7px;
    }

    .content .content-label {
        margin-top: 14px;
        font-size: 14px;
    }

    .content dl {
        margin-top: 12px;
        font-size: 14px;
        line-height: 1.4;
    }

    .content dl>div {
        grid-template-columns: 90px 1fr;
        column-gap: 10px;
        margin-top: 8px;
    }

    .content p {
        font-size: 14px;
    }

    .note {
        margin: 30px 0;
        padding: 30px 0;
    }

    .note h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .note ul {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .note li {
        min-height: 0;
        padding: 25px;
    }

    .note-title h3 {
        margin: 20px 0 12px;
        font-size: 16px;
    }

    .note-title img {
        width: 28px;
        height: 28px;
    }

    .note p {
        font-size: 14px;
    }

    .service {
        height: auto;
        margin: 30px 0 0 0;
        padding: 30px 0;
    }

    .service-inner {
        width: calc(100% - 40px);
        height: auto;
        padding: 0 20px;
    }

    .service h2 {
        margin: 0 0 25px;
        font-size: 18px;
    }

    .service ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .service-title {
        gap: 10px;
        margin-bottom: 5px;
        padding-bottom: 1px;
    }

    .service-icon {
        width: 25px;
        height: 25px;
    }

    .service-title h3 {
        font-size: 16px;
        white-space: nowrap;
    }

    .arrow-icon {
        width: 24px;
        height: 24px;
    }

    .service p {
        font-size: 14px;
    }
}