:root {
    /* size */
    --inner-width: 1400px;

    /* font */
    --font-main: 'Pretendard', sans-serif;
    --font-w-ExL: 200;
    --font-w-L: 300;
    --font-w-R: 400;
    --font-w-M: 500;
    --font-w-SB: 600;
    --font-w-B: 700;
    --font-w-ExB: 800;
    --font-w-BK: 900;

    /* color */
    --color-pri: #243B66;
    --color-sec: #3F0B9F;
    --color-typo-pri: #222222;
    --color-typo-sec: #666666;
}


/* 기본 영역 */
.inner {
    max-width: 1400px;
    margin: 0 auto;
}


/* 베너 */
.banner {
    width: 100%;
    height: 720px;
    max-height: 70vh;
    background: url(../images/login/banner.png) no-repeat center 70% / cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner>* {
    position: relative;
}

.banner-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-title {
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title h2 {
    font-size: clamp(1.875rem, 3.71vw, 3.25rem);
    font-weight: var(--font-w-ExB);
    line-height: 1.25;
    margin-bottom: 24px;
    color: #ffffff;
    word-break: keep-all;
}

.banner-title p {
    max-width: 90%;
    font-size: clamp(1rem, 1.28vw, 1.125rem);
    font-weight: var(--font-w-L);
    line-height: 1.7;
    word-break: keep-all;
    color: #ddd;
}


/* 브레드크럼 */
.breadcrumb {
    position: absolute;
    top: 120px;
}

.breadcrumb>ol {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
}

.breadcrumb>ol>li {
    display: flex;
    align-items: center;
}

.breadcrumb>ol>li:nth-child(2)::before,
.breadcrumb>ol>li:nth-child(3)::before,
.breadcrumb>ol>li:nth-child(4)::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images-sub/icon/arrow-right.svg") no-repeat center;
}


main {
    padding-top: 0;
}


/* 페이지 상단 */
.page-header {
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
}


/* 로그인 상단 */
.login-wrap {
    display: flex;
    position: relative;
    margin: 40px 0;
    padding: 40px 0;
}


/* .login-wrap::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #aaa;
} */


/* 로그인 / 회원가입 영역 */
.login-box,
.join-box {
    width: 50%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    padding-right: 30px;
    text-align: center;
}

.join-box {
    padding-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 가운데 구분선 */
.login-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #d5d5d5;
}


/* 로그인 / 회원가입 제목 */
.login-box h3,
.join-box h3 {
    margin: 0;
    font-size: 20px;
    font-weight: var(--font-w-B);
}


/* 제목 아래 설명 */
.login-box>p,
.join-box>p {
    min-height: 48px;
    margin: 15px 0;
    font-size: 16px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 로그인 폼 */
.login-form {
    width: 360px;
    height: 200px;
    margin: 0 auto;
    display: block;
}


/* 입력 영역 */
.input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.input-wrap label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.input-wrap input {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: 14px;
}

.input-wrap input::placeholder {
    color: #999;
}


/* 로그인 옵션 */
.login-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 14px;
    color: #666;
}

.login-option label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.login-option input[type="checkbox"] {
    appearance: auto;
    -webkit-appearance: checkbox;

    width: 15px;
    height: 15px;
    margin: 0;

    border: initial;
}


/* 로그인 링크 */
.login-links {
    display: flex;
    gap: 18px;
}

.login-links a {
    color: #666;
}


/* 로그인 버튼 */
.login-btn {
    width: 100%;
    height: 48px;
    min-height: 48px;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    background: #243B66;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #1b2e50;
}

/* SNS 간편 로그인 */
.sns-login {
    margin-top: 16px;
}

.sns-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.sns-list li {
    margin: 0;
    padding: 0;
}

.sns-list a {
    display: block;
    width: 46px;
    height: 46px;
}

.sns-list img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sns-list li:nth-child(3) img {
    transform: scale(0.8);
}


/* 회원가입 안내 */
.join-service {
    width: 360px;
    margin: 0 auto 10px;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 4px;
    text-align: left;
}

.join-service h4 {
    margin: 0 0 8px;
    font-size: 15px;
    font-weight: var(--font-w-B);
}

.join-service ul {
    margin: 0;
    padding: 0;
}

.join-service li {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    color: #555;
}

.join-service li::before {
    content: "·";
    position: absolute;
    left: 0;
}


/* 회원가입 버튼 */
.join-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 48px;
    margin: auto auto 0;
    border: 1px solid #243B66;
    border-radius: 3px;
    color: #243B66;
    font-size: 16px;
    transition: 0.2s;
}

.join-btn:hover {
    background: #243B66;
    color: #fff;
}


/* ==================================================
   아이패드
================================================== */

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .inner {
        width: calc(100% - 80px);
        max-width: none;
    }

    main {
    }

    .page-header {
        padding-top: 10px;
        padding-bottom: 20px;
    }


    /* 베너 */
    .banner {
        width: 100%;
        height: 550px;
        max-height: none;
        background: url(../images/login/banner.png) no-repeat center 70% / cover;
    }

    .banner-title {
        max-width: 800px;
        padding: 0 40px;
    }

    .banner-title h2 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .banner-title p {
        max-width: 90%;
        font-size: 16px;
        line-height: 1.6;
    }


    /* 브레드크럼 */
    .breadcrumb {
        top: 100px;
    }

    .breadcrumb>ol {
        font-size: 14px;
    }

    .breadcrumb>ol>li:nth-child(2)::before,
    .breadcrumb>ol>li:nth-child(3)::before,
    .breadcrumb>ol>li:nth-child(4)::before {
        width: 20px;
        height: 20px;
    }

    .breadcrumb>ol>li:first-child img {
        width: 18px;
        height: 18px;
    }


    /* 로그인 상단 */
    .login-top {
        margin: 0 0 35px 0;
        padding: 35px 0;
    }

    .login-title {
        font-size: 15px;
    }

    .login-title h2 {
        margin-bottom: 20px;
        font-size: 1.25em;
    }

    .page-link ul {
        margin-bottom: 35px;
        gap: 12px;
    }

    .page-link img {
        width: 21px;
        height: 21px;
    }

    .login-top p {
        margin: 0;
        font-size: 27px;
    }


    /* 로그인 / 회원가입 */
    .login-wrap {
        margin: 0 0 35px 0;
        padding: 35px 0;
    }

    .login-wrap::before {
        top: -35px;
    }

    .login-box,
    .join-box {
        min-height: 230px;
    }

    .login-box {
        padding-right: 40px;
    }

    .join-box {
        padding-left: 40px;
    }

    .login-box h3,
    .join-box h3 {
        font-size: 20px;
    }

    .login-box>p,
    .join-box>p {
        min-height: 45px;
        margin: 12px 0;
        font-size: 16px;
    }


    /* 로그인 폼 */
    .login-form {
        width: 320px;
        max-width: 100%;
        height: auto;
    }

    .input-wrap {
        margin-bottom: 7px;
    }

    .input-wrap input {
        height: 45px;
        padding: 0 13px;
        font-size: 14px;
    }


    /* 로그인 옵션 */
    .login-option {
        margin: 12px 0;
        font-size: 14px;
    }

    .login-option label {
        gap: 5px;
    }

    .login-option input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }

    .login-links {
        gap: 12px;
    }


    /* 로그인 버튼 */
    .login-btn {
        height: 45px;
        min-height: 45px;
        font-size: 16px;
    }


    /* 회원서비스 */
    .join-service {
        width: 320px;
        max-width: 100%;
        margin-bottom: 10px;
        padding: 18px;
    }

    .join-service h4 {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .join-service li {
        font-size: 14px;
    }


    /* 회원가입 버튼 */
    .join-btn {
        width: 320px;
        max-width: 100%;
        height: 45px;
        font-size: 16px;
    }
}


/* ==================================================
   모바일
================================================== */

@media screen and (max-width: 767px) {

    .inner {
        width: calc(100% - 40px);
    }

    main {
    }

    .page-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    /* 베너 */
    .banner {
        width: 100%;
        height: 420px;
        max-height: none;
        background: url(../images/login/banner.png) no-repeat center 70% / cover;
    }

    .banner-title {
        width: 100%;
        padding: 0 20px;
    }

    .banner-title h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .banner-title p {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.6;
    }


    /* 브레드크럼 */
    .breadcrumb {
        top: 80px;
    }

    .breadcrumb>ol {
        font-size: 13px;
    }

    .breadcrumb>ol>li:nth-child(2)::before,
    .breadcrumb>ol>li:nth-child(3)::before,
    .breadcrumb>ol>li:nth-child(4)::before {
        width: 18px;
        height: 18px;
    }

    .breadcrumb>ol>li:first-child img {
        width: 16px;
        height: 16px;
    }


    /* 로그인 상단 */
    .login-top {
        margin: 0 0 30px 0;
        padding: 30px 0;
    }

    .login-title {
        font-size: 14px;
    }

    .login-title h2 {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .page-link ul {
        gap: 10px;
        margin-bottom: 25px;
    }

    .page-link img {
        width: 20px;
        height: 20px;
    }

    .login-top p {
        margin: 0;
        font-size: 20px;
    }


    /* 로그인 / 회원가입 */
    .login-wrap {
        flex-direction: column;
        margin: 0;
        padding: 30px 0;
    }

    .login-wrap::before {
        display: none;
    }

    .login-wrap::after {
        display: none;
    }


    .login-box,
    .join-box {
        width: 100%;
        min-height: 0;
        padding: 0;
    }

    .login-box {
        padding-bottom: 30px;
        border-bottom: 1px solid #aaa;
    }

    .join-box {
        padding-top: 30px;
    }


    /* 제목 */
    .login-box h3,
    .join-box h3 {
        font-size: 18px;
    }

    .login-box p,
    .join-box p {
        min-height: 0;
        margin: 12px 0;
        font-size: 14px;
    }


    /* 로그인 폼 */
    .login-form {
        width: 360px;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .input-wrap {
        margin-bottom: 8px;
    }

    .input-wrap input {
        width: 100%;
        height: 48px;
        padding: 0 12px;
        font-size: 13px;
    }


    /* 로그인 옵션 */
    .login-option {
        margin: 15px 0;
        font-size: 14px;
    }

    .login-option label {
        gap: 5px;
    }

    .login-option input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .login-links {
        gap: 10px;
    }


    /* 로그인 버튼 */
    .login-btn {
        height: 48px;
        min-height: 48px;
        font-size: 16px;
    }


    /* 회원가입 안내 */
    .join-service {
        width: 360px;
        max-width: 100%;
        margin: 0 auto 15px;
        padding: 20px;
    }

    .join-service h4 {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .join-service li {
        font-size: 14px;
    }


    /* 회원가입 버튼 */
    .join-btn {
        width: 360px;
        max-width: 100%;
        height: 48px;
        font-size: 16px;
    }
}