@charset "utf-8";
/************************************************************/
/*************************** main ***************************/
.main {
  min-height: 100vh;
  position: relative;
}

/* main-video */
.main-video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-video video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.15);
}

.main>.inner {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

/* video-control */
.video-control {
  display: flex;
  align-items: center;
  gap: 0.563em;
}

.control-progress {
  width: 52px;
  height: 12px;
  background-color: rgba(255, 255, 255, .7);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.control-progress .progress-bar {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #94B8FF;
  border-radius: inherit;
}

/* main-info */
.main-info {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, .8);
}

.info-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.938em 0;
}

.info-bar-list {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 3.57vw, 3.125rem);
}

.bar-list-tit {
  font-size: clamp(1rem, 1.42vw, 1.25rem);
  font-weight: var(--font-w-B);
  white-space: nowrap;
}

.bar-list-cont .cont-txt {
  font-size: clamp(0.875rem, 1.28vw, 1.125rem);
  display: flex;
  gap: .2em 1.875em;
}

.bar-list-cont .cont-txt>p {
  display: flex;
  align-items: center;
  gap: 0.625em;
}

.bar-list-cont .cont-txt>p>strong {
  font-size: clamp(1rem, 1.42vw, 1.25rem);
}

.bar-list-cont .cont-txt .time {
  font-size: clamp(1rem, 1.42vw, 1.25rem);
  font-weight: var(--font-w-B);
}

.bar-list-cont .cont-notice {
  display: flex;
  gap: 0.188em;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  margin-top: 0.188em;
  color: var(--color-typo-sec);
  word-break: keep-all;
}

.bar-list-cont .cont-notice>span {
  color: #E53935;
}

.info-bar-line {
  width: 1px;
  height: 90%;
  background: rgba(36, 39, 102, .3);
}

/* 버튼 */
.info-button {
  flex-shrink: 0;
}

.info-button .button-reservation {
  font-size: clamp(0.875rem, 1.28vw, 1.125rem);
  font-weight: var(--font-w-SB);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--color-pri);
  padding: 0.625em 2.5em;
}

/* info 아이콘 */
[class*="info-icon"] {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

[class*="info-icon"]::before {
  content: '';
  width: 24px;
  height: 24px;
  background: no-repeat center / contain;
  flex-shrink: 0;
}

.info-icon-1::before {
  background-image: url(../images/Main_section/images/info_img01.svg);
}

.info-icon-2::before {
  background-image: url(../images/Main_section/images/info_img02.svg);
}

.info-icon-3::before {
  background-image: url(../images/Main_section/images/info_btn.svg);
}


@media screen and (min-width: 1280px) {
}

/* 반응형 */
@media screen and (max-width: 1440px) {
}

/* 아이패드 */
@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1020px) {

  /* main */
  .main>.inner {
    bottom: 2%;
    gap: 0.5rem;
  }

  .main-info {
    flex-direction: column;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
  }

  .info-bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .info-bar-list {
    width: 100%;
    padding: 1.25rem;
  }

  .bar-list-tit {
    width: clamp(140px, 14.7vw, 150px);
    margin-left: clamp(0.625rem, 3.92vw, 2.5rem);
  }

  .bar-list-cont .cont-txt {
    flex-wrap: wrap;
  }

  .info-bar-line {
    width: 95%;
    height: 1px;
    align-self: center;
  }
}

/* 모바일 */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 480px) {
  .info-bar-list {
    flex-direction: column;
  }

  .bar-list-tit {
    width: auto;
    margin: 0;
  }

  .info-bar-list {
    gap: 0.938em;
  }

  .bar-list-cont .cont-notice {
    margin-top: .5em;
  }
}

