@charset "utf-8";
:root {
  /* size */
  --inner-width: 1400px;

  /* font */
  --font-main: 'Pretendard', sans-serif;
  --font-w-ExL: 200;
  --font-w-L: 300;
  --font-w-R: 400;
  --font-w-M: 500;
  --font-w-SB: 600;
  --font-w-B: 700;
  --font-w-ExB: 800;
  --font-w-BK: 900;

  /* color */
  --color-pri: #243B66;
  --color-sec: #3F0B9F;
  --color-typo-pri: #222222;
  --color-typo-sec: #666666;
}

/*  */
.inner {max-width: 1400px; margin: 0 auto;/* background-color: rgba(255,0,0,.2);*/}

/* 베너 */
.banner {width: 100%; height: 720px; max-height: 70vh; background: url(../images/sub_collection/banner01.png) no-repeat center / cover; display: flex; flex-direction: column; position: relative;}
.banner::before {content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,.4);} 
.banner > * {position: relative;}
.banner-top {height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; color: #fff;}
.banner-title {max-width: 990px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1.5rem; text-align: center; text-shadow: 0 0 30px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);} 
.banner-top .banner-title .tit {font-size: clamp(1.875rem, 3.71vw, 3.25rem); font-weight: var(--font-w-B); line-height: 1.25; letter-spacing: -0.03em;}
.banner-top .banner-title .txt {max-width: 90%; font-size: clamp(1rem, 1.28vw, 1.125rem); font-weight: var(--font-w-L); line-height: 1.7; word-break: keep-all;}
.banner-bottom {background-color: rgba(0,0,0,0.6); color: #fff; font-weight: var(--font-w-SB); position: sticky; top: 0;}
.collection-tab {display: flex;}
.collection-tab .tab-list {flex: 1;}
.collection-tab .tab-list-btn {display: block; width: 100%; height: 100%; font-size: clamp(1rem, 1.35vw, 1.188rem); padding: .625em; text-align: center;}
.collection-tab .tab-list-btn.on {background-color: var(--color-pri);}

/* 탭버튼 */
.inner-tab {display: flex; justify-content: center; align-items: center; gap: clamp(0.625rem, 1.42vw, 1.25rem); margin: clamp(2.5rem, 5.71vw, 5rem) 0 clamp(1.25rem, 4vw, 3.5rem);}
.inner-tab .tab-list-btn {font-size: clamp(0.938rem, 1.21vw, 1.063rem); font-weight: var(--font-w-SB); color: var(--color-typo-sec); border: 1px solid var(--color-typo-sec); padding: clamp(.33em, 0.64vw, 0.529em) 2em; border-radius: 50px; white-space: nowrap;}
.inner-tab .tab-list-btn.on {background-color: #000; color: #fff;}

/* tab-content */
.tab-wrap {position: relative;}
.tab-content {opacity: 0; position: absolute; top: 0; left: 0; width: 100%; pointer-events: none;}
.tab-content.on {opacity: 1; z-index: 10; position: relative; pointer-events: auto;}
/* map */
.tab-content .map {display: flex; border-block: 1px solid #B8B8B8; border-block-start-width: 1.5px;}
.tab-content .map-img {width: 100%; display: flex; justify-content: center; align-items: center; padding: clamp(1.875rem, 4.28vw, 3.75rem); overflow: hidden;}
.map-img-cover {position: relative; width: 100%; font-size: clamp(1rem, 1.42vw, 1.25rem);}
.map-img-cover img {display: block; width: 100%;}
.map-img-cover .map-txt-num {position: absolute; transform: translate(-50%, -50%); z-index: 1;}
.map-img-cover .map-txt-num::before {content: ''; width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(221, 18, 39, 0.4); border-radius: 50%; animation: mapTxtNum 1s ease-out infinite alternate; opacity: 0;} 
.map-img-cover .map-txt-num.on span {background-color: #DD1227 !important; border: 1.5px solid #fff;}
.map-img-cover .map-txt-num.on::before {opacity: 1;}
@keyframes mapTxtNum {
  0% {transform: translate(-50%, -50%) scale(1.1);}
  100% {transform: translate(-50%, -50%) scale(1.7);}
}
.map-img-cover .map-txt-num > span {position: relative;}
#tab-content-1 .map-img-cover .map-txt-num.num1 {top: 31.84%;left: 32.11%;}
#tab-content-1 .map-img-cover .map-txt-num.num2-1 {top: 31.45%;left: 90.40%;}
#tab-content-1 .map-img-cover .map-txt-num.num2-2 {top: 75%;left: 33.14%;}
#tab-content-1 .map-img-cover .map-txt-num.num3 {top: 14.65%;left: 36%;}
#tab-content-1 .map-img-cover .map-txt-num.num4 {top: 14.45%;left: 63.09%;}
#tab-content-1 .map-img-cover .map-txt-num.num5 {top: 58.40%;left: 48.11%;}
/* map02 */
#tab-content-2 .map-img-cover .map-txt-num.num1 {top: 24.61%; left: 59.20%;}
#tab-content-2 .map-img-cover .map-txt-num.num2 {top: 74.02%; left: 59.20%;}
#tab-content-2 .map-img-cover .map-txt-num.num3 {top: 73.83%; left: 20.57%;}
#tab-content-2 .map-img-cover .map-txt-num.num4 {top: 70.51%; left: 93.26%;}
/* map03 */
#tab-content-3 .map-img-cover .map-txt-num.num1 {top: 25.78%; left: 69.83%;}
#tab-content-3 .map-img-cover .map-txt-num.num2 {top: 73.44%; left: 50.97%;}
#tab-content-3 .map-img-cover .map-txt-num.num3 {top: 25.98%; left: 52.11%;}

.map-txt-wrap {background-color: #E5EDFA; width: 24%; flex-shrink: 0; display: flex; align-items: center; padding: 1.5rem;}
.tab-content .map-txt {font-size: clamp(1rem, 1.42vw, 1.25rem); font-weight: var(--font-w-SB); letter-spacing: -.2px;}
.tab-content .map-txt > li {display: flex; gap: .4em; padding: .5em 0; word-break: keep-all; cursor: pointer;}
.tab-content .map-txt-num {--num-size: clamp(22px, 2.42vw, 30px); width: var(--num-size); height: var(--num-size); font-weight: var(--font-w-M); display: block; flex-shrink: 0;}
.tab-content .map-txt-num span {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #1247aa; color: #fff; border-radius: 50%;}
.tab-content .map-txt .disable {color: var(--color-typo-sec);}
.tab-content .map-txt .disable .map-txt-num span,
.tab-content .map-txt-num.disable span{background-color: var(--color-typo-sec);}
.tab-content .map-txt > li:hover {color: #DD1227;}
.tab-content .map-txt > li:hover .map-txt-num span {background-color: #DD1227;}
/* gallery */
.gallery {display: flex; flex-wrap: wrap; gap: clamp(0.938rem, 2.85vw, 2.5rem); margin-block: clamp(1.875rem, 6.42vw, 5.625rem);}
.gallery-list {position: relative; width: calc((100% - clamp(0.938rem, 2.85vw, 2.5rem)) / 2); cursor: pointer; overflow: hidden;}
.gallery-list > a {display: block;}
.gallery-text {width: 100%; height: clamp(1.875rem, 3.57vw, 3.125rem); position: absolute; bottom: 0; left: 0; background-color: rgba(0,0,0,.3); backdrop-filter: blur(7px); color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: clamp(0.313rem, 1.92vw, 1.688rem); line-height: 1.5; padding: 0 3rem; transition: .3s ease-in-out; overflow: hidden;}
.gallery-tit {font-size: clamp(1rem, 1.57vw, 1.375rem); font-weight: var(--font-w-SB); line-height: 2.3;}
.gallery-txt {font-size: clamp(1rem, 1.35vw, 1.188rem); font-weight: var(--font-w-L); text-align: center; word-break: keep-all; display: none;}
/* hover */
.gallery-list:hover .gallery-text {height: 100%;}
.gallery-list:hover .gallery-tit {font-size: clamp(1.25rem, 2.14vw, 1.875rem); font-weight: var(--font-w-B); line-height: 1.5;}
.gallery-list:hover .gallery-txt {display: block;}

/* 반응형 */

/* 반응형 */
@media screen and (max-width: 1440px) {
  .gallery.inner {max-width: 95%;}
}

/* 아이패드 */
@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1020px) {

}

/* 모바일 */
@media screen and (max-width: 767px) {
  .tab-content .map {flex-direction: column; width: 95%; border: 1px solid #bbb;}
  .tab-content .map-img {padding-inline: clamp(1.875rem, 7.82vw, 3.75rem);}
  .map-txt-wrap {width: 100%;}

  .tab-content .map-txt {display: flex; flex-wrap: wrap; gap: clamp(.1em, 0.65vw, .5em) 1.5em;}
  .gallery-list {width: 100%;}
  .gallery-text {height: clamp(1.875rem, 6.51vw, 3.125rem);}
  .gallery-tit {font-size: clamp(1rem, 2.86vw, 1.375rem);}
  .gallery-txt {font-size: clamp(1rem, 2.47vw, 1.188rem);}
  .gallery-list:hover .gallery-tit {font-size: clamp(1.25rem, 3.91vw, 1.875rem);}

}

