/* =========================
   Reset
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "pretendard", sans-serif;
    line-height: 1.4em;
    color: #222;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button,
input,
select {
    font: inherit;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}


/* =========================
   Accessibility
========================= */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/* =========================
   Layout
========================= */

body {
    width: 100%;
    max-width: 1624px;
    margin: 0 auto;
    padding-top: 246px;
    padding-bottom: 117px;
}

main {
    width: 100%;
    max-width: 1394px;
    margin: 0 auto;
}

/* =========================
   color
========================= */

:root {
    --Primary-color: #233A6C;
    --text-color: #222;
    --gray-color: #666;
    --border-color: #757575;
    
}